@import './variables.scss';

#F04{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: $colorMain;
    img{
        max-width: 80%;
        opacity: 0.3;
        width: 107px;
    }
    p{
        color: $colorMainWhite;
    }
}